{% extends "base.html" %}

{% block content %}
<h1>Pebbles on the Shore.</h1>

<blockquote>
I do not know what I may appear to the world, but to myself I seem to have been only like a boy playing on the
sea-shore, and diverting myself in now and then finding a smoother pebble or a prettier shell than ordinary, whilst the
great ocean of truth lay all undiscovered before me.
<br>
<span class="author">— Isaac Newton</span>
</blockquote>

<h2>Posts</h2>
{% set blog_section = get_section(path="blog/_index.md") %}
<ul>
    {% for page in blog_section.pages | sort(attribute="date") | reverse %}
    <li>
        <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock content %}