<section>
    <div class="portrait">
            <img src="/theme/images/pug.jpg" />
    </div>
    <div class="name-cv">
        <div class="name">Kamil Sindi</div>
        <!--
        <div class="cv">
            <a href="/pdfs/cv.pdf"><i class="fa fa-file-pdf-o"></i> CV</a>
        </div>
        -->
    </div>
    <div class="clear"></div>
    <div class="sub-name">deep learning | python | data science</div>
    <div class="contact"><i>k[last-name]@k[last-name].com</i></div>
    <div class="location">NYC, NY</div>
</section>

<section class="tags">
{% for tag in [
                'deeplearning',
                'python',
                'tensorflow',
                'datascience',
                ] %}
    <span class="tag"><a href="/tag/{{ tag }}/">#{{ tag }}</a></span>
{% endfor %}
</section>
